body {background-color:black;font-family:arial;color:white}

h1{color:grey;font-family:verdana;white-space:nowrap}

.maindiv {
    background-color:white;
    color:black;
    width: 480px;
    border-radius:25px;
    padding:20px;
    align:center
}
p {
    display:table-row
}
form {
    margin-left:50px;
    display: table;
    width:330px;
}

label {display:table-cell;width:120px;}

button {margin-left:50px} 

p:nth-child(2) {
    white-space:nowrap
}
